<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYQze_TFJW_7o-Bq0cuRXbKMvG6m2dF_w</string>
	<key>GCM_SENDER_ID</key>
	<string>293400102880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geoApp</string>
	<key>PROJECT_ID</key>
	<string>geo-app-688c8</string>
	<key>STORAGE_BUCKET</key>
	<string>geo-app-688c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293400102880:ios:bbde77daffff0dcb440d85</string>
</dict>
</plist>